<!DOCTYPE html>
<head>
    <link href="/css/global.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/template.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <title>Início</title>
</head>
<body>
    <div id="header">
        <div id="header">
            <div id="main-header" class="index-main-header">
                <%- include('layout/main-header'); %>
            </div>
            <%- include('layout/extra-header'); %>
        </div>
    </div>
    <div id="template-section">
        <div id="search-bar-wrapper">
            <p>Conheça os templates mais modernos da atualidade</p>
            <input type="text" placeholder="Pesquise por templates...">
        </div>
        <div id="pvw-templates">
            <div id="pvw-title-section">
                <div>
                    <p class="medium-text">PREVIEW DOS TEMPLATES</p>
                    <p class="normal-text">Melhor avaliados</p>
                </div>
                <div>
                    <a href="/templates" class="action-btn">VER TODOS</a>
                </div>
            </div>
            <div id="pvw-wrapper">
                <div class="pvw-template">
                    <div class="pvw-goto">
                        <a href="/templates/1">VER TEMPLATE</a>
                    </div>
                    <div class="pvw-categories">
                        <div class="action-btn-1"><a href="/templates/tech">Tecnologia</a></div>
                        <div class="action-btn-2"><a href="/templates/inovation">Inovação</a></div>
                        <div class="action-btn-3"><a href="/templates/cybersecurity">Cibersegurança</a></div>
                    </div>
                </div>
                <div class="pvw-template">
                    <div class="pvw-goto">
                        <a href="/templates/1">VER TEMPLATE</a>
                    </div>
                    <div class="pvw-categories">
                        <div class="action-btn-1"><a href="/templates/tech">Tecnologia</a></div>
                        <div class="action-btn-2"><a href="/templates/inovation">Inovação</a></div>
                        <div class="action-btn-3"><a href="/templates/cybersecurity">Cibersegurança</a></div>
                    </div>
                </div>
                <div class="pvw-template">
                    <div class="pvw-goto">
                        <a href="/templates/1">VER TEMPLATE</a>
                    </div>
                    <div class="pvw-categories">
                        <div class="action-btn-1"><a href="/templates/tech">Tecnologia</a></div>
                        <div class="action-btn-2"><a href="/templates/inovation">Inovação</a></div>
                        <div class="action-btn-3"><a href="/templates/cybersecurity">Cibersegurança</a></div>
                    </div>
                </div>
                <div class="pvw-template">
                    <div class="pvw-goto">
                        <a href="/templates/1">VER TEMPLATE</a>
                    </div>
                    <div class="pvw-categories">
                        <div class="action-btn-1"><a href="/templates/tech">Tecnologia</a></div>
                        <div class="action-btn-2"><a href="/templates/inovation">Inovação</a></div>
                        <div class="action-btn-3"><a href="/templates/cybersecurity">Cibersegurança</a></div>
                    </div>
                </div>
                <div class="pvw-template">
                    <div class="pvw-goto">
                        <a href="/templates/1">VER TEMPLATE</a>
                    </div>
                    <div class="pvw-categories">
                        <div class="action-btn-1"><a href="/templates/tech">Tecnologia</a></div>
                        <div class="action-btn-2"><a href="/templates/inovation">Inovação</a></div>
                        <div class="action-btn-3"><a href="/templates/cybersecurity">Cibersegurança</a></div>
                    </div>
                </div>
                <div class="pvw-template">
                    <div class="pvw-goto">
                        <a href="/templates/1">VER TEMPLATE</a>
                    </div>
                    <div class="pvw-categories">
                        <div class="action-btn-1"><a href="/templates/tech">Tecnologia</a></div>
                        <div class="action-btn-2"><a href="/templates/inovation">Inovação</a></div>
                        <div class="action-btn-3"><a href="/templates/cybersecurity">Cibersegurança</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="team-section">
        <div id="pvw-team">
            <div id="be-part">
                <p class="large-text">FAÇA PARTE DO TIME</p>
                <p class="normal-text">Com a coded você tem a oportunidade de criar seu próprio template utilizado HTML e CSS. Se já possui conhecimento de front-end e quer mostrar seu talento para o mundo, por quê não upar seus projetos aqui, utilizando a plataforma como seu portifólio?</p>
                <p class="normal-text">Torne-se um desenvolvedor na coded e contribua com o crescimento do projeto.</p>
                <% if (typeof isLoggedIn !== 'undefined' && isLoggedIn !== '') { %>
                    <a href="/user/<%-userId%>" class="action-btn">TORNAR-SE DEV</a>
                <% }else{ %>
                    <a href="/register" class="action-btn">REGISTRE-SE COMO DEV</a>
                <% } %>
            </div>
            <div id="profile-example">
                <img src="/assets/users-preview.png" alt="">
            </div>
        </div>
    </div>
    <div id="technologies-section">
        <p class="large-text">ACEITAMOS PROJETOS COM AS TECNOLOGIAS</p>
        <div id="technologies-list-wrapper">
            <div class="technologies-list-item html-tech">
                <p class="normal-text">HTML</p>
            </div>
            <div class="technologies-list-item css-tech">
                <p class="normal-text">CSS</p>
            </div>
        </div>
    </div>
    <div id="reasons-section">
        <div id="reasons-wrapper">
            <p class="large-text">MOTIVOS PARA TER UM SITE</p>
            <p class="normal-text">Com a coded, você pode navegar em nossa coleção de templates e escolher aquele que é a sua cara. <br>Mas afinal, quais são as vantagens de ter um website hoje em dia?</p>
            <div id="reasons-list-wrapper">
                <div class="reasons-list-item">
                    <div>
                        <img src="assets/share-icon.svg" alt="">
                    </div>
                    <p class="medium-text">DIVULGAÇÃO</p>
                    <p class="normal-text">Ao adaptar um dos templates da coded para o seu negócio, você tem sua marca exposta 24 horas por dia, 365 dias no ano</p>
                </div>
                <div class="reasons-list-item">
                    <div>
                        <img src="assets/digital-presence-icon.svg" alt="">
                    </div>
                    <p class="medium-text">UM NOVO PASSO</p>
                    <p class="normal-text">Ao adentrar a era digital, você deixa de fazer parte da velha forma de fazer negócios, você ganha visibilidade, profissionalidade, escalabilidade e, ainda por cima, trasmite confiança para seus clientes</p>
                </div>
                <div class="reasons-list-item">
                    <div>
                        <img src="assets/accessbility-icon.svg" alt="">
                    </div>
                    <p class="medium-text">MAIS ACESSÍVEL</p>
                    <p class="normal-text">Deixe de ter somente uma audiência loca, sua empresa será reconhecida nacionalmente e até internacionalmente</p>
                </div>
            </div>
        </div>
    </div>
    <div id="contact-section">
        <div id="form-wrapper">
            <form action="/send-email" method="post" id="form-contact">
                <p class="medium-text">CONTATO</p>
                
                <% if (typeof isLoggedIn == 'undefined') { %>
                    <p class="normal-text">Faça <a class="normal-text" href="/login">login</a> para que você seja identificado</p>
                <% } %>

                <p class="normal-text">ASSUNTO</p>
                <input type="text" name="subject" id="email-subject">

                <p class="normal-text">MENSAGEM</p>
                <textarea name="msg" id="email-msg"></textarea>
                
                <div class="wrapper">
                    <input type="submit" class="action-btn">    
                </div>
            </form>
        </div>
    </div>
    <%- include('layout/footer'); %>
    <script src="/js/handle-down-arrow.js"></script>
</body>
</html>