<!DOCTYPE html>
<head>
    <link href="/css/style.scss" rel="stylesheet" type="text/css">
    <title>CODED | Home</title>
</head>
<body>
    <div class="container">
        <%- include('layout/header'); %>
        <div id="main">

        </div>
        <%- include('layout/footer'); %>
    </div>
</body>
</html>