<!DOCTYPE html>
<head>
    <link href="/css/global.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/template.css" rel="stylesheet">
    <title>Início</title>
</head>
<body>
    <div id="header">
        <div id="main-header">
            <%- include('layout/main-header'); %>
        </div>
    </div>
    <div id="template-section">
        <div id="search-bar-wrapper">
            <p>Conheça os templates mais modernos da atualidade</p>
            <input type="text" placeholder="Pesquise por templates...">
        </div>
        <div id="templates">
            <div id="title-section">
                <div>
                    <p class="medium-text">TEMPLATES</p>
                    <div id="category-picker">
                        <div class="action-btn-1"><a href="/template/tech">Tecnologia</a></div>
                        <div class="action-btn-2"><a href="/template/inovation">Inovação</a></div>
                        <div class="action-btn-3"><a href="/template/cybersecurity">Cibersegurança</a></div>
                        <div class="action-btn-1"><a href="/template/tech">Tecnologia</a></div>
                        <div class="action-btn-2"><a href="/template/inovation">Inovação</a></div>
                        <div class="action-btn-3"><a href="/template/cybersecurity">Cibersegurança</a></div>
                        <div class="action-btn-1"><a href="/template/tech">Tecnologia</a></div>
                        <div class="action-btn-2"><a href="/template/inovation">Inovação</a></div>
                    </div>
                </div>
                <div>
                    <select id="type-filter">
                        <option value="grade-desc">Melhor avaliados</option>
                        <option value="grade">Pior avaliados</option>
                        <option value="time-desc">Mais recentes</option>
                        <option value="time">Mais antigos</option>
                        <option value="user-templates">Meus templates</option>
                    </select>
                </div>
            </div>
            <div id="wrapper">
                <div class="template">
                    <div class="goto">
                        <a href="/template/1">VER TEMPLATE</a>
                    </div>
                    <div class="categories">
                        <div class="action-btn-1"><a href="/template/tech">Tecnologia</a></div>
                        <div class="action-btn-2"><a href="/template/inovation">Inovação</a></div>
                        <div class="action-btn-3"><a href="/template/cybersecurity">Cibersegurança</a></div>
                    </div>
                </div>
                <div class="template">
                    <div class="goto">
                        <a href="/template/1">VER TEMPLATE</a>
                    </div>
                    <div class="categories">
                        <div class="action-btn-1"><a href="/template/tech">Tecnologia</a></div>
                        <div class="action-btn-2"><a href="/template/inovation">Inovação</a></div>
                        <div class="action-btn-3"><a href="/template/cybersecurity">Cibersegurança</a></div>
                    </div>
                </div>
                <div class="template">
                    <div class="goto">
                        <a href="/template/1">VER TEMPLATE</a>
                    </div>
                    <div class="categories">
                        <div class="action-btn-1"><a href="/template/tech">Tecnologia</a></div>
                        <div class="action-btn-2"><a href="/template/inovation">Inovação</a></div>
                        <div class="action-btn-3"><a href="/template/cybersecurity">Cibersegurança</a></div>
                    </div>
                </div>
                <div class="template">
                    <div class="goto">
                        <a href="/template/1">VER TEMPLATE</a>
                    </div>
                    <div class="categories">
                        <div class="action-btn-1"><a href="/template/tech">Tecnologia</a></div>
                        <div class="action-btn-2"><a href="/template/inovation">Inovação</a></div>
                        <div class="action-btn-3"><a href="/template/cybersecurity">Cibersegurança</a></div>
                    </div>
                </div>
                <div class="template">
                    <div class="goto">
                        <a href="/template/1">VER TEMPLATE</a>
                    </div>
                    <div class="categories">
                        <div class="action-btn-1"><a href="/template/tech">Tecnologia</a></div>
                        <div class="action-btn-2"><a href="/template/inovation">Inovação</a></div>
                        <div class="action-btn-3"><a href="/template/cybersecurity">Cibersegurança</a></div>
                    </div>
                </div>
                <div class="template">
                    <div class="goto">
                        <a href="/template/1">VER TEMPLATE</a>
                    </div>
                    <div class="categories">
                        <div class="action-btn-1"><a href="/template/tech">Tecnologia</a></div>
                        <div class="action-btn-2"><a href="/template/inovation">Inovação</a></div>
                        <div class="action-btn-3"><a href="/template/cybersecurity">Cibersegurança</a></div>
                    </div>
                </div>
                <div class="template">
                    <div class="goto">
                        <a href="/template/1">VER TEMPLATE</a>
                    </div>
                    <div class="categories">
                        <div class="action-btn-1"><a href="/template/tech">Tecnologia</a></div>
                        <div class="action-btn-2"><a href="/template/inovation">Inovação</a></div>
                        <div class="action-btn-3"><a href="/template/cybersecurity">Cibersegurança</a></div>
                    </div>
                </div>
                <div class="template">
                    <div class="goto">
                        <a href="/template/1">VER TEMPLATE</a>
                    </div>
                    <div class="categories">
                        <div class="action-btn-1"><a href="/template/tech">Tecnologia</a></div>
                        <div class="action-btn-2"><a href="/template/inovation">Inovação</a></div>
                        <div class="action-btn-3"><a href="/template/cybersecurity">Cibersegurança</a></div>
                    </div>
                </div>
                <div class="template">
                    <div class="goto">
                        <a href="/template/1">VER TEMPLATE</a>
                    </div>
                    <div class="categories">
                        <div class="action-btn-1"><a href="/template/tech">Tecnologia</a></div>
                        <div class="action-btn-2"><a href="/template/inovation">Inovação</a></div>
                        <div class="action-btn-3"><a href="/template/cybersecurity">Cibersegurança</a></div>
                    </div>
                </div>
            </div>
            <div id="paginator">
                <a><img src="assets/chevron-icon.svg" class="paginator-left" alt=""></a>

                <div class="paginator-button">1</div>
                <div class="paginator-button main">2</div>
                <div class="paginator-button">3</div>

                <a><img src="assets/chevron-icon.svg" class="paginator-right" alt=""></a>
            </div>
        </div>
    </div>
    <%- include('layout/footer'); %>
</body>
</html>