body .wrapper {
  display: flex;
  justify-content: center;
}
body .action-btn {
  background-color: #0190C9 !important;
  padding: 5px 15px;
  margin: 0;
  color: #ECECEC;
  border-radius: 5px;
  text-decoration: none;
}
body .action-btn-1 {
  background-color: #AD1E4C;
  padding: 5px 15px;
  border-radius: 5px;
  text-align: center;
}
body .action-btn-1 a {
  margin: 0;
  color: #ECECEC;
  text-decoration: none;
  font-size: 0.75rem;
}
body .action-btn-2 {
  background-color: #DF6550;
  padding: 5px 15px;
  border-radius: 5px;
  text-align: center;
}
body .action-btn-2 a {
  margin: 0;
  color: #ECECEC;
  text-decoration: none;
  font-size: 0.75rem;
}
body .action-btn-3 {
  background-color: #0D3263;
  padding: 5px 15px;
  border-radius: 5px;
  text-align: center;
}
body .action-btn-3 a {
  margin: 0;
  color: #ECECEC;
  text-decoration: none;
  font-size: 0.75rem;
}
body #template-section {
  padding: 15px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #template-section #search-bar-wrapper {
  width: 100%;
  text-align: center;
}
body #template-section #search-bar-wrapper p {
  margin-top: 10px;
  color: #ECECEC;
  font-size: 1rem;
}
body #template-section #search-bar-wrapper input {
  margin: 20px 0;
  width: 35%;
  height: 20px;
  padding: 5px;
  font-size: 0.75rem;
  margin-left: 5px;
  border: 1px solid #0190C9;
  border-radius: 5px;
  background-color: #2C2C2C;
  color: #ECECEC;
  outline: none;
}
body #template-section #pvw-templates {
  background-color: #2C2C2C;
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}
body #template-section #pvw-templates #pvw-title-section {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 25px 0;
}
body #template-section #pvw-templates #pvw-title-section div {
  align-self: center;
}
body #template-section #pvw-templates #pvw-wrapper {
  margin: 15px 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
body #template-section #pvw-templates #pvw-wrapper .pvw-template {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-image: url("/assets/pvw-template-filler.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body #template-section #pvw-templates #pvw-wrapper .pvw-template .pvw-goto {
  height: 200px;
}
body #template-section #pvw-templates #pvw-wrapper .pvw-template .pvw-categories {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: #ECECEC;
  border-top: 5px solid #2C2C2C;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
body #template-section #pvw-templates #pvw-wrapper .pvw-template .pvw-categories div {
  flex: 1;
}
body #team-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
body #team-section #pvw-team {
  width: 80%;
  display: flex;
  align-items: center;
}
body #team-section #pvw-team #be-part {
  background-color: #2C2C2C;
  padding: 35px 20px;
  border-radius: 10px;
  width: 50%;
  box-sizing: border-box;
}
body #team-section #pvw-team #be-part p {
  margin-bottom: 20px;
}
body #team-section #pvw-team #profile-example {
  width: 50%;
  text-align: right;
}
body #team-section #pvw-team #profile-example img {
  width: 70%;
  max-height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}
body #technologies-section {
  background-image: url("/assets/home-bg-alt.png");
}
body #technologies-section p {
  text-align: center;
}
body #technologies-section > p {
  padding-top: 35px;
}
body #technologies-section #technologies-list-wrapper {
  display: flex;
  justify-content: center;
}
body #technologies-section #technologies-list-wrapper .technologies-list-item {
  border-radius: 10px;
  width: 450px;
  height: 400px;
  margin: 35px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
body #technologies-section #technologies-list-wrapper .technologies-list-item > p {
  width: 30%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: -15px;
}
body #technologies-section #technologies-list-wrapper .html-tech {
  background-image: url("/assets/html-code.png");
}
body #technologies-section #technologies-list-wrapper .html-tech > p {
  background-color: #AD1E4C;
}
body #technologies-section #technologies-list-wrapper .css-tech {
  background-image: url("/assets/css-code.png");
}
body #technologies-section #technologies-list-wrapper .css-tech > p {
  background-color: #0190C9;
}
body #reasons-section {
  display: flex;
  justify-content: center;
}
body #reasons-section #reasons-wrapper {
  width: 80%;
  padding: 35px;
  box-sizing: border-box;
}
body #reasons-section p {
  text-align: center;
}
body #reasons-section #reasons-list-wrapper {
  display: flex;
  justify-content: center;
  padding: 45px 0 0 0;
  box-sizing: border-box;
}
body #reasons-section #reasons-list-wrapper .reasons-list-item {
  background-color: #2C2C2C;
  border-radius: 15px;
  padding: 30px;
  box-sizing: border-box;
  margin: 0 15px;
}
body #reasons-section #reasons-list-wrapper .reasons-list-item > p {
  text-align: start;
  padding: 15px 0 0 0;
}
body #reasons-section #reasons-list-wrapper .reasons-list-item div {
  margin: -50px 0 0 0;
  background-color: #0190C9;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #reasons-section #reasons-list-wrapper .reasons-list-item div img {
  width: 65%;
}
body #contact-section {
  display: flex;
  justify-content: center;
}
body #contact-section #form-wrapper {
  background-image: url("/assets/contact-section.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 80%;
  display: flex;
  justify-content: center;
  padding: 35px 0;
  border-radius: 15px;
}
body #contact-section #form-wrapper form {
  background-color: rgba(44, 44, 44, 0.7137254902);
  width: 70%;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 15px;
}
body #contact-section #form-wrapper form p {
  padding: 0 0 10px 0;
}
body #contact-section #form-wrapper form p:first-child {
  padding: 0 0 20px 0;
}
body #contact-section #form-wrapper form input {
  width: 100%;
  margin: 0 0 30px 0;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 15px;
  color: white;
  background-color: #080609;
  outline: none;
  border: none;
}
body #contact-section #form-wrapper form textarea {
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 15px;
  color: white;
  background-color: #080609;
  outline: none;
  border: none;
  min-height: 50px;
  max-height: 200px;
  resize: vertical;
}
body #contact-section #form-wrapper form div {
  padding: 30px 0 0 0;
}
body #contact-section #form-wrapper form div input[type=submit] {
  width: auto;
  margin: 0;
}/*# sourceMappingURL=index.css.map */