@import '../settings/_color', '../settings/_font'

#content-wrapper
    display: flex
    justify-content: center
    padding: 35px 0

    #cn-profile
        background-color: $grayscale2
        width: 80%
        padding: 20px
        border-radius: 10px

        #cn-title-section
            display: flex
            flex-direction: column

            img
                border-radius: 50%
                width: 50px