<div id="extra-header">
    <div id="extra-header-main">
        <img src="/assets/logo.png" alt="">
        <p>Plataforma de criação e compartilhamento de templates de websites</p>
        <div class="transparent-button"><a href="/about">SAIBA MAIS</a></div>
        <img id="down-arrow" src="/assets/down-arrow.svg" alt="">
    </div>
</div>