<div id="header">
    <div>
        <img src="assets/logo.png" alt="">
    </div>
    <div>
        <h1>bola penis</h1>
        <ul>
            <% if (typeof isLoggedIn !== 'undefined' && isLoggedIn !== '') { %>
                <li>Olá, <%=user%></li>
                <li>|</li>
                <li><a href="/logout">Logout</a></li>
            <% }else{ %>
                <li><a href="/login">Login</a></li>
                <li>|</li>
                <li><a href="/register">Register</a></li>
            <% } %>
        </ul>
    </div>
</div>