<div id="header">
    <div id="main-header">
        <div class="main-header-item limit">
            <img src="/assets/logo.svg" class="unselectable" alt="">
        </div>
        <div class="main-header-item">
            <ul class="nav-bar unselectable">
                <li class="selected"><a href="/">Início</a></li>
                <li><a href="/templates">Templates</a></li>
            </ul>
        </div>
        <div class="main-header-item limit">
            <ul class="unselectable">
                <li><a href="/login">Login</a></li>
                <li class="li-highlight"><a href="/register">Cadastro</a></li>
            </ul>
        </div>
    </div>
    <div id="extra-header">
        <div id="extra-header-main">
            <img src="/assets/logo.png" alt="">
            <p>Plataforma de criação e compartilhamento de templates de websites</p>
            <div class="transparent-button"><a href="/about">SAIBA MAIS</a></div>
            <img id="down-arrow" src="/assets/down-arrow.svg" alt="">
        </div>
    </div>
</div>